.leaflet-marker-icon {
    background-color: transparent;
    border-color: transparent;
}

.leaflet-control-zoom {
    border: none !important;

    a {
        padding: 0;
        width: 26px !important;
        height: 26px !important;
        line-height: 20px !important;
        display: block;
        border-radius: 4px !important;
        border: 1px solid #ccc !important;
    }
}